.header {
    height: 212px;
    width: 100%;
    background: #EFEFEF;
    display: flex;
    justify-content: center;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1120px;
}

.contentRight {
    display: flex;
    align-items: center;
    gap: 8px;
}


.containerAvatar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
}